.moj_profil_counainer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: 100px;
}

.moj_profil_neizmenljivo {
  border-radius: 3px;
  box-shadow: 3px 2px 10px rgba(196, 196, 196, 0.404);
  padding: 15px 100px;
  padding-bottom: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
  height: fit-content;
  background-color: #aa963c6b;
}

.moj_profil_neizmenljivo input {
  cursor: default;
}
.moj_profil_neizmenljivo input:focus {
  outline: none;
}

.moj_profil_izmeni_lozinku {
  border-radius: 3px;
  box-shadow: 3px 2px 10px rgba(196, 196, 196, 0.404);
  padding: 15px 100px;
  padding-bottom: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
  height: fit-content;
}

.moj_profil_counainer_izmenljivi_podaci {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.moj_profil_kartica {
  border-radius: 3px;
  box-shadow: 3px 2px 10px rgba(196, 196, 196, 0.404);
  padding: 50px 100px;
  padding-bottom: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
  margin-left: 50px;
  margin-right: 50px;
}

.moj_profil_kartica input,
.moj_profil_neizmenljivo input,
.moj_profil_izmeni_lozinku input {
  margin-bottom: 21px;
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid black;
  transition: 0.3s ease;
}

.moj_profil_kartica input:focus,
.moj_profil_izmeni_lozinku input:focus {
  outline: none;
  border-bottom: 1px solid #cba135;
  border-left: 1px solid #cba135;
  border-bottom-left-radius: 15px;
}

.moj_profil_izmeni_lozinku h2,
.moj_profil_neizmenljivo h2 {
  margin-bottom: 50px;
}

.moj_profil_counainer button {
  margin: 21px;
  width: 80%;
  border: none;
  padding: 15px;
  background-color: #f3efe0;
  border-radius: 12px;
  box-shadow: 3px 2px 3px rgba(196, 196, 196, 0.404);
  transition: 0.2s ease-out;
}

.moj_profil_counainer button:hover {
  color: white;
  background-color: #cba135;
  cursor: pointer;
}
